@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    background-color: blueviolet;
  
}
*{ font-family: "Space Grotesk", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;


}
.container{
    background-color: black;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.a{
    background-color: aliceblue;
    width: 30%;
    height: 5vh;
    margin: 10px;
}

.container2{
    background-color: rgb(105, 42, 23);
    width: 70%;
    border: 5px solid rgb(15, 15, 32);
    margin: auto;
    margin-top: 5vh;
    display: flex;
justify-content: space-evenly;}

.box{ 
    width: 50px ;
    height: 10vh;
     background-color: midnightblue;
     margin: 10px;
}

.container3{
    background-color: rgb(3, 136, 129);
    width: 70%;
    height: 40vh;
    border: 2px solid rgb(180, 32, 160);
    margin: auto;
    margin-top: 5vh;
    display: flex;
}

header{
    width: 100%;
    height: 7vh;
    background-color:rgb(255, 255, 255);
    display: flex;
-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.75);


    
   
} 
/* se a div pai for pequena, os elemntos diminuem*/
.menusculo{
 height: 100%;
 width: 80%;
background-color: cadetblue;
display: flex;
margin: auto;
}

.logo{
    width: 20%;
    height: 100%; 
    background-color: rgb(255, 255, 255);
    
}

.menu{
    width: 80%;
    height: 100%;
    background-color: deeppink;
}

.entrar{
    width: 20%;
    height: 100%;
    background-color: rgba(197, 21, 21, 0.979);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /*dava pra usar o padding, mas o negocio e ser automatico*/
    height: 100%;
    gap: 2px
    ;
}
nav{
    height: 100%;
}
li{
    list-style: none;
    /*distancia entre o teto () e elas ()*/
    padding: 1px 10px;
    width: 50px;
    color: aliceblue;
    font-size: xx-small;
    cursor: pointer;
    background-color: slategrey;
    border-radius: 5px;
}

li:hover{
    background-color:aliceblue;
   color:black;
}

/*pra centralizar tem usar o pai*/
.entrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnentrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: xx-small;
    gap: 1px;
    background-color: white;
     border: 1px solid saddlebrown;
     border-radius: 5px;
     cursor: pointer;
}

.btnentrar:hover{
    background-color: aqua;
    color: black;
}

.ativo{
    background-color: white;
    color: black;
}

.container4{
width: 100%;
height: 300px;
background-color: crimson;
margin-top: 20px;
display: flex;

}

.boq{
   
    height: 100%;
    background-color: chocolate;
}

.boq1{
    background-color: blue;
    flex-grow: 1;
    background-image:url('./src/imagem_1.png') ;
     background-size: cover;
}

.boq2{
    background-color: rgb(188, 188, 206);
      flex-grow: 2;
       background-image:url('./src/imagem_2.png') ;
        background-size: cover;
}
.boq3{
    background-color: rgb(50, 50, 58);
      flex-grow: 3;
       background-image:url('./src/imagem_3.png') ;
        background-size: cover;
}

.boq:hover{
    flex-grow: 3;
    transition:1s;
}

.container6{
    width: 400px;
    height: 400px;
    background-color: darkgreen;
    display:flex;

    /*esticar as divs de acordo com o pai*/
    justify-content: flex-start;
    /*o align itens  stretch o faria.
    mas foi estudado flexend, flexstart, baseline,center*/
    align-items: flex-end;
    margin-top: 10px;
}

.pl{
    width: 100px;
      background-color: aquamarine;
     height: 100px;
      margin: 10px;

      display: flex;
      justify-content: center ;
      align-items: center;

}